body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: auto;
}
.sec1{
    display: flex;
}
.imgheader{
    width: 100%;
}
.headleft{
    padding: 7% 3% 4% 4%;
}
.headright{
    padding: 4% 3% 4% 4%;
}
#button {
    text-decoration: none;
    padding: 1.4% 2.6%;
    background-image: linear-gradient(120deg, #fc8f49, rgb(254 80 49));
    margin-top: 24px;
    color: white;
    border-radius: 33px;
    font-size: 11px;
    position: absolute;
    box-shadow: 1px 1px 5px #fc8f49;
}
.sec2{
    background-image: url('images/shapes/7.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0%;
    display: flex;
    width: 100%;

}
.aboutmeimg {
    width: 178%;
    margin: 29% 0% -2% 62%;
    position: relative;
}
.aboutright {
    padding: 8% 5% 0% 33%;
}
.aboutmeh4 {
    color: #625f5f;
    margin-right: 77px;
    text-align: justify;
    font-size: 14px;
    line-height: 18px;
}